/* Hack to remove copyright from footer which is enforced by ReadTheDocs theme*/
div[role=contentinfo] {
	visibility: hidden;
	position: relative;
	bottom: 10px;
}

div[role=contentinfo]:after {
	visibility: visible;
	position: absolute;
	top: 0;
	left: 0;
	content: "2023, Luxembourg National Data Service (LNDS). It is a brand of PNED G.I.E., an economic interest group established by the Luxembourg government and public institutes.";
}
